<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="5; url='com.clubers.consumidor://authorization?id=<%= userProfile.id %>&username=<%= userProfile.username %>'" />
  </head>
  <body>
    <a href="com.clubers.consumidor://authorization?id=<%= userProfile.id %>&username=<%= userProfile.username %>" target="_blank">You will be redirected my friend or click here!</a>
  </body>
</html>